DATABASE_URL=sqlite:///database/material.db
VECTOR_DB_PATH=database/chroma_db
EMBEDDING_MODEL=BAAI/bge-m3
ASR_MODEL=base
OUTPUT_DIR=videos/material
ANTHROPIC_API_KEY=sk-1f362f187c3a42ea89fa943828eb93dd
LLM_MODEL=DeepSeek-V3.2
ANTHROPIC_BASE_URL=https://api.deepseek.com/anthropic
PARAGRAPH_GAP_THRESHOLD=2.0
COSYVOICE_MODEL_DIR=model/CosyVoice-300M
SILICONFLOW_API_KEY=sk-pohgdvtympogshmqdhkrefertujmlsttqgnuxwfjmqxoxeyf
SILICONFLOW_BASE_URL=https://api.siliconflow.cn/v1
